{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}Главная страница{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/basic_for_samplesite.css' %}">
</head>
<body>
	<header>
		<h1>{% block greetings %}Добро пожаловать{% endblock %}</h1>
	</header>

	<div>
		<nav>
			<a class="navigation_general" href="bboard">Доска объявлений</a>
			<a class="navigation_general" href="admin">Админ панель</a>
		</nav>
	</div>
</body>
</html>