{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}Главная страница{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/basic_for_samplesite.css' %}">
</head>
<body>
	<header>
		<h1>{% block greetings %}Добро пожаловать{% endblock %}</h1>
	</header>

	<div>
		<nav>
			<a class="navigation_general" href="{% url 'index_bboard' %}">Доска объявлений</a>
			{% if request.user.is_active %}
			<a class="navigation_general" href="{% url 'logout' %}">Выход из аккаунта</a>
			{% else %}
			<a class="navigation_general" href="{% url 'registration' %}">Регистрация</a>
			<a class="navigation_general" href="{% url 'login' %}">Вход</a>
			{% endif %}
		</nav>
	</div>

	{% block content %}
	{% endblock %}

</body>
</html>