{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}Главная страница{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="basic_for_samplesite.css">
</head>
<body>
	<div>
		<h1>{% block greetings %}Добро пожаловать{% endblock %}</h1>
		<nav>
			<a class="navigation_general" href="bboard">Доска объявлений</a>
			<a class="navigation_general" href="admin">Админ панель</a>
		</nav>
	</div>
</body>
</html>